

body {
  margin-top: 50%;
  background-repeat: no-repeat;
  background-position: center;


}


.Bed {
  
  position: absolute;
  top: 10%;
  right: 27%;

}

.Phone {
  position: absolute;
  top: 60%;
  right: 30%;

}



.light1 {
  position: absolute;
  top: 0%;
  left: 4%;
 

}

.light1:hover {
  
  opacity: .2; 
   filter: brightness(120%); 
    transition: opacity 0.3s ease-in-out;
    transform: rotate(-3deg);  
  
}

.light2 {
  position: absolute;
  top: 0%;
  right: 2%;
 
}

.light2:hover {
  
  opacity: .2; 
   filter: brightness(120%); 
    transition: opacity 0.3s ease-in-out;
    transform: rotate(-3deg);  
    
}


.SideTableRight {
  position: absolute;
  top: 38%;
  right: 2%;
  transition: opacity 0.3s ease-in-out;
  transform: rotate(-30deg); 

}

.Cactus {
  position: absolute;
  top: 80%;
  right: 2%;
}

.SideTableLeft {
  position: absolute;
  top: 38%;
  left: 5%;
  transition: opacity 10s ease-in-out;
  transform: rotate(270deg); 

}


.Laundry {
  position: absolute;
  top: 55%;
  left: 10%;
}

.Laundry:hover {
  
  opacity: .10; 
   filter: brightness(200%); 
    transition: opacity 0.3s ease-in-out;
    transform: rotate(2deg); 
 
  
}

.Clothes {
  position: absolute;
  top: 55%;
  right: 10%;
}

.Clothes:hover {
  
  opacity: .2; 
   filter: brightness(120%); 
    transition: opacity 0.3s ease-in-out;
    transform: rotate(-3deg);   
}


.Clothes2 {
  position: absolute;
  top: 33%;
  right: 35%;
}

.Clothes2:hover {
  
  opacity: .2; 
   filter: brightness(120%); 
    transition: opacity 0.3s ease-in-out;
    transform: rotate(0deg);   
}



.Clock {
  position: absolute;
  top: 10%;
  left: 46%;
}


.p5painting{
  position: absolute;
  top: 10%;
  left: 28%;
  transform: rotate(-30deg);  
}

.Switch {
  position: absolute;
  top: 40%;
  left: 88%;
}